<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.board.mapper.MemberMapper">
	
	<!-- 회원 가입 -->
<insert id="memberInfoRegistry" parameterType="com.board.dto.MemberDTO">
	insert into tbl_member (userid,password,username,birthdate,telno,email,
			role,gender,lastpwdate,regdate,pwcheck)  
			values (#{userid},#{password},#{username},#{birthdate},#{telno},#{email},'USER',
			#{gender},#{lastpwdate},sysdate,1)
</insert>

<!--  아이디 중복 확인 -->
<select id="idCheck" parameterType="string" resultType="int">
	select count(*) from tbl_member where userid = #{userid}
</select>

<!-- 회원 정보 가져 오기 -->
<select id="memberInfo" parameterType="string" resultType="com.board.dto.MemberDTO">
	select * from tbl_member where userid = #{userid}
</select>

<!-- 패스워드 수정 -->
<update id="memberPasswordModify" parameterType="com.board.dto.MemberDTO">
	update tbl_member set password = #{password}, lastpwdate= #{lastpwdate} where userid = #{userid}
</update>

<!-- 마지막 로그인 날짜 등록 하기 -->
<update id="lastlogindateUpdate" parameterType="com.board.dto.MemberDTO">
	update tbl_member set lastlogindate = #{lastlogindate} where userid = #{userid}
</update>

<!-- 마지막 로그아웃 날짜 등록 하기 -->
<update id="lastlogoutdateUpdate" parameterType="com.board.dto.MemberDTO">
	update tbl_member set lastlogoutdate = #{lastlogoutdate} where userid = #{userid}
</update>

<!-- 아이디 찾기 -->
<select id="searchID" parameterType="com.board.dto.MemberDTO" resultType="string">
	select userid from tbl_member where username = #{username} and telno = #{telno}
</select>

<!-- 회원 탈퇴 -->
<delete id="memberDelete" parameterType="com.board.dto.MemberDTO">
	delete from tbl_member where userid = #{userid}
</delete>

<!-- authkey 업데이트 -->
<update id="authkeyUpdate" parameterType="com.board.dto.MemberDTO">
	update tbl_member set authkey = #{authkey} where userid = #{userid}
</update>

<!-- authkey 존재 여부 확인 -->
<select id="memberInfoByAuthkey" parameterType="com.board.dto.MemberDTO" resultType="com.board.dto.MemberDTO">
	select * from tbl_member where authkey = #{authkey}
</select>

<!-- 접속 일자 추가 -->
<update id="plusPwCheck" parameterType="String">
	update tbl_member set pwcheck = pwcheck + 1 where userid = #{userid}
</update>

<!-- 회원 정보 수정 -->
<update id="memberInfoUpdate" parameterType="com.board.dto.MemberDTO">
	update tbl_member set 
	gender=#{gender}, telno=#{telno}, email=#{email}
	where userid = #{userid}
</update>

<resultMap id="pwcheckMap" type="HashMap">
    <result property="pwcheck" column="pwcheck" />
    <result property="result" column="result" />
</resultMap>

<!-- 30일 지나면 패스워드 변경 요청 -->
<select id="PasswordChangeRequest" parameterType="string" resultMap="pwcheckMap">
select pwcheck, case when (lastlogindate - lastpwdate)/pwcheck >= 30 then 1 else 0
  end as result from tbl_member where userid = #{userid}
</select>
	
</mapper>