<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.dormitory.mapper.DormitoryMapper">

    <!-- ====================1. MAIN ============================-->
    <!-- 2. 추천(별점) -->
    <select id="getDormitoryByStar" resultType="com.dormitory.dto.DormitoryDTO">
        select * from tbl_dormitory where d_road like concat('%',#{keyword},'%') order by d_star desc limit 10
    </select>


    <!-- 5.(test) 추천(얼리체크인) -->
    <select id="getEarlyCheckin" resultType="com.dormitory.dto.DormitoryDTO">
        select * from tbl_dormitory order by d_checkin asc limit 10
    </select>

    <!-- 6.(test) 추천(등급 높은 순) -->
    <select id="getDormitoryByGrade" resultType="com.dormitory.dto.DormitoryDTO">
        select * from tbl_dormitory order by d_grade desc limit 10
    </select>

    <!-- 7.(test) 추천(타압별) -->
    <select id="getDormitoryByType" parameterType="String" resultType="com.dormitory.dto.DormitoryDTO">
        select * from tbl_dormitory where d_type=#{type} limit 10
    </select>
    <!-- =====================4 RoomInfo ========================== -->
    <!-- 2. 숙소별 리뷰 정보-->
    <select id="getReview" parameterType="String" resultType="com.dormitory.dto.ReviewDTO">
        select * from tbl_review where d_code=#{d_code}
    </select>
    <!-- 3. 지도 위도/경도-->
    <select id="getMap" parameterType="String" resultType="com.dormitory.dto.DormitoryDTO">
        select * from tbl_dormitory where d_code=#{d_code}
    </select>
    <!-- 4. 숙소별 객실 정보 -->
    <select id="getRoomDetail" parameterType="String" resultType="com.dormitory.dto.RoomDTO">
        select * from tbl_room where d_code=#{d_code}
    </select>

    <!-- 5. 숙소 정보 -->

    <!-- 6. 숙소별 어메니티 정보 -->
    <select id="getAmenity" parameterType="String" resultType="com.dormitory.dto.AmenityDTO">
        select * from tbl_amenity where d_code=#{d_code}
    </select>

    <!-- =====================5. SearchList ====================== -->
    <select id="getDormitoryList" parameterType="HashMap" resultType="com.dormitory.dto.DormitoryDTO">
        select * from tbl_dormitory where d_name like concat('%',#{keyword},'%') or d_road like concat('%',#{keyword},'%') limit #{pageNum}
    </select>

</mapper>
