<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.dormitory.mapper.ManagerMapper">

    <!-- ====================1. MAIN ============================-->
    <!-- ====================2. Menu ==============================-->
    <!-- ====================3. Reservation =======================-->
    <!-- =====================4 RoomInfo ========================== -->
    <!-- =====================5. SearchList ====================== -->
</mapper>