<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.dormitory.mapper.MemberMapper">


    <!-- ====================2. Menu ==============================-->
    <!-- 1. 회원 정보 조회 -->
    <select id="getMemberInfo" parameterType="String"  resultType="com.dormitory.dto.MemberDTO">
        select * from tbl_member where userid = #{userid}
    </select>
    <!-- 2. 예약 정보 조회-->
    <select id="getReservationInfoById" parameterType="String"  resultType="com.dormitory.dto.ReservationDTO">
        select * from tbl_reservation where m_userid = #{userid}
    </select>
    <!--3. 예약 상태 변경 -->
    <update id="ReservationOut" parameterType="int">
        update tbl_reservation set s_status=2 where reservation_code = #{reservation_code}

    </update>

    <!-- 4. 방문 내역 (s_status가 4인 것만)-->
    <select id="getVisited" parameterType="String"  resultType="com.dormitory.dto.ReservationDTO">
        select * from tbl_reservation where m_userid = #{userid} and s_status=4
    </select>

    <!--5. 방문 내역 삭제 -->
    <delete id="DeleteVisited" parameterType="int">
        delete from tbl_reservation where reservation_code = #{reservation_code}
    </delete>
    <!-- ====================3. Reservation =======================-->
    <!-- 1. 숙소+객실 조회 -->
    <!-- 2. 예약 회원 정보 -->
    <!-- 3. 예약 정보 -->
    <!-- 4. 결제 정보-->
    <!-- 5. 취소별 환불 규정-->
    <select id="getCancelPolicy" parameterType="String" resultType="com.dormitory.dto.CancelDTO">
        select * from tbl_cancel where d_code=#{d_code}
    </select>





    <!-- 이 밑으로 건들ㄴㄴ -->
    <select id="memberInfo" parameterType="String" resultType="com.dormitory.dto.MemberDTO">
        select * from tbl_member where userid=#{userid}
    </select>

    <!-- -->
    <insert id="memberSave" parameterType="com.dormitory.dto.MemberDTO">
        insert into tbl_member(userid, password,username, role, social) values(#{userid},#{password},#{username},#{role},#{social})
    </insert>


</mapper>